/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
body {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
#imatges { position:relative; top: -300px; left: 318px; }

#banderes { position: relative; top: -337px; left: 350px; }

#ahorcado { position: relative; top: -280px; left: 200px; }

#caminar { position: relative; top: -270px; left: 300px; }

#rotar { position: relative; top: -538px; left: 460px; }

#moix { position: relative; top: -390px; left: 310px; }







