/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
#imatges { position:relative; top: -300px; left: 318px; }

#banderes { position: relative; top: -337px; left: 350px; }



