/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 16 de gen. 2025, 9:46:05
    Author     : aula1PTD1
*/
html {
    background: linear-gradient(to bottom left, #ff0000 0%, #ffcc00 100%);
}
head {
    text-align: center;
    font-size: 30px;
}
body {
        border: gray 2px solid;
        font-size: 20px;
        width: 11%;
        margin: 50px auto;
        padding: 20px;
        text-align: center;
}

